@{
    ViewData["Title"] = "Command Injection Exploitation";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Check if an IP is <b>Online</b> with our cool tool!
    </p>

    <hr />
    
    <div class="input-group">
        <div class="form-outline">
            <input type="text" value="127.0.0.1" id="cmdtext" class="form-control" />
        </div>
        <button type="button" class="btn btn-primary" onclick="search()">
            <i class="fas fa-run">Run</i>
        </button>
    </div>
    
    <div class="card text-left" style="margin-top: 10px">
        <pre id="output">
        NO DATA
        </pre>
    </div>
</div>

<div class="d-flex justify-content-between">
    <div>
        <a class="text-light btn btn-secondary" asp-area="" asp-controller="CommandInjection" asp-action="Index">Previous: Command Injection</a>
    </div>
    <div>
        <a class="text-light btn btn-secondary" asp-area="" asp-controller="CommandInjection" asp-action="Solution">Next: Solution</a>
    </div>
</div>

<script async>
    function search() {
        let q = $("#cmdtext").val()
        $.getJSON(``)
        $.getJSON(`/CommandInjection/Ping?ip=${q}`, function(json) {
          $("#output").text(json.value.output);
        });
    }
</script>