@{
    ViewData["Title"] = "Introducing OWASP";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    <p>
        The Open Web Application Security Project® (<a href="https://owasp.org/#" class="text-dark">OWASP</a>) is a nonprofit foundation that works to improve the security of software.<br />
        Through community-led open-source software projects, hundreds of local chapters worldwide, tens of thousands of members, and leading educational and training conferences, the OWASP Foundation is the source for developers and technologists to secure the web.
        <ul>
            <li>Tools and Resources</li>
            <li>Community and Networking</li>
            <li>Education & Training</li>
        </ul>
    </p>
    
    <div>
        <h2 class="display-8">Main Projects</h2>

        <p>
            For a full list of all projects developed by the OWASP community, visit their <a class="text-dark" href="https://owasp.org/projects/">projects page</a>.
            <ul>
                <li><a class="text-dark" href="https://owasp.org/www-project-amass/"><b>OWASP Amass</b></a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-application-security-verification-standard/">OWASP Application Security Verification Standard</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-cheat-sheets/">OWASP Cheat Sheet Series</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-csrfguard/">OWASP CSRFGuard</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-cyclonedx/">OWASP CycloneDX</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-defectdojo/">OWASP Defectdojo</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-dependency-check/">OWASP Dependency-Check</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-dependency-track/">OWASP Dependency-Track</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-juice-shop/">OWASP Juice Shop</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-mobile-security-testing-guide/"><b>OWASP Mobile Security Testing Guide</b></a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-modsecurity-core-rule-set/">OWASP ModSecurity Core Rule Set</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-owtf/">OWASP OWTF</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-samm/">OWASP SAMM</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-security-knowledge-framework/">OWASP Security Knowledge Framework</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-security-shepherd/">OWASP Security Shepherd</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-top-10-low-code-no-code-security-risks/">OWASP Top 10 Low-Code/No-Code Security Risks</a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-top-ten/"><b>OWASP Top Ten</b></a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-web-security-testing-guide/"><b>OWASP Web Security Testing Guide</b></a></li>
                <li><a class="text-dark" href="https://owasp.org/www-project-zap/"><b>OWASP ZAP</b></a></li>
            </ul>
        </p>
    </div>
</div>
<hr />
<div class="d-flex justify-content-between">
    <div>
        <a class="text-light btn btn-secondary" asp-area="" asp-controller="Home" asp-action="GeneralTips">Previous: General Tips</a>
    </div>
    <div>
        <a class="text-light btn btn-secondary" asp-area="" asp-controller="Home" asp-action="TheOWASPTopTen">Next: The OWASP Top Ten</a>
    </div>
</div>