@{
    ViewData["Title"] = "Secure Coding";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    <h2 class="display-8">What is it?</h2>
    <div>
        <p>
            Secure coding is the practice of developing computer software in a way that guards against the accidental introduction of security vulnerabilities.<br/>
            Defects, bugs and logic flaws are consistently the primary cause of commonly exploited software vulnerabilities.<br/>
            Through the analysis of thousands of reported vulnerabilities, security professionals have discovered that most vulnerabilities stem from a relatively small number of common software programming errors.<br />
            By identifying the insecure coding practices that lead to these errors and educating developers on secure alternatives, organizations can take proactive steps to help significantly reduce or eliminate vulnerabilities in software before deployment.
        </p>

        <h2 class="display-8">SDLC Software Development Lifecycle</h2>
        <p>
            The Software Development Life Cycle (SDLC), also referred to as the application development life-cycle, is a process for planning, creating, testing, and deploying an information system.<br\>
            There are usually at least six stages in this cycle: 
            <ol>
                <li>Requirement Analysis</li>
                <li>Design</li>
                <li>Development</li>
                <li>Testing</li> 
                <li>Implementation (a.k.a. deployment)</li>
                <li>Maintainence</li>
            </ol>
        </p>
        <p class="text-center"">
           <img src="/img/SDLC.gif" width="50%" height="50%" />
        </p>
    </div>
</div>
<hr />
<div class="d-flex justify-content-between">
    <div></div>
    <div>
        <a class="text-light btn btn-secondary" asp-area="" asp-controller="Home" asp-action="SecureCoding2">Next: Secure Coding - Phases</a>
    </div>
</div>